<script src="{{ 'mycart.js' | asset_url }}" defer="defer"></script>

<div class="cart-total" style="display: none;">
    <div data-ajax-cart-bind-state="cart.total_price | money_with_currency" class="cart-total-value">
        {{ cart.total_price | money_with_currency }}
    </div>
</div>
<form class="height-full pf-form-processed flex direction-column form-wrapper" action="{{ routes.cart_url }}" method="post">
    <div class="flex justify-between items-center cart-header">
        <h2 class="cart-title m-0">Demo Cart for Sedan</h2>

        <button data-ajax-cart-toggle-class-button="js-my-cart-open | remove" class="cart-close-button absolute">
            X
        </button>
    </div>

    {% comment %}Free Shipping Box{% endcomment %}
    <div class="free-shipping">
        {% assign threshold = 75 | times: 100 %}
        {% assign value_left = threshold | minus:cart.total_price %}
        {% assign value_left_money = value_left | money %}

        <h4>WANT FREE DELIVERY?</h4>

        {% if value_left <= 0 %}
            <div class="shipping-message">You qualify for free shipping 🎉</div>
        {% else %}
            <div class="shipping-message">Just spend another {{ value_left_money }} to get free shipping!</div>
        {% endif %}

        <div class="shipping-bar-container">
            <div class="shipping-bar"></div>
        </div>
    </div>

    {% comment %} Slide Out Cart Body {% endcomment %}
    <div class="my-cart relative flex direction-column h-full" data-ajax-cart-section>
        <div class="flex direction-column overflow-y-scroll overflow-x-hidden">
            {% if cart.item_count > 0 %}
            {% for item in cart.items %}
            <div class="my-cart__item h-fit-content">
                <div class="flex cart-item-container">    
                    <div class="slide-cart-image">
                        <img src="{{ item.image | img_url: 'medium' }}" width="{{ item.image.width }}" height="{{ item.image.height }}" alt="{{ item.image | escape }}" loading="lazy">
                    </div> 
            
                    <div class="cart-info flex direction-column">
                        <a href="{{ item.url }}"><p class="slide-cart-title">{{ item.product.title }}</p></a>              
                        <div class="variant_price">
                            <div class="slide_price">{{ item.final_line_price | money | remove: '.00' }}</strong></div>
                        </div>
                        {%- assign itemDiscounts = 'template ' | split: ' ' -%}
                        {%- if item.line_level_discount_allocations != blank -%}
                            {%- assign itemDiscounts = item.line_level_discount_allocations -%}
                        {%- endif -%}

                        <div class="order-discount order-discount--list order-discount--title order-discount--cart{% if item.line_level_discount_allocations == blank %} hide{% endif %}" aria-label="{{ 'customer.order.discount' | t }}" data-cart-item-discount-list>
                        {%- for discount_allocation in itemDiscounts -%}
                            <li class="order-discount__item" data-cart-item-discount>
                            <span data-cart-item-discount-title>
                                {{- discount_allocation.discount_application.title -}}
                            </span> (-<span data-cart-item-discount-amount>{{ discount_allocation.amount | money }}</span>)
                            </li>
                        {%- endfor -%}
                        </div>

                        <div class="flex justify-between items-center cart-item-buttons">
                            <div class="qtyButtonWrapSlideCart">
                                <div class="qty-button-wrap-slide flex justify-between" style="align-items: center; height: 2.5rem;">
                                    <a data-ajax-cart-request-button class="minus underline-0 flex justify-center items-end" href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}">
                                        {% render 'minus-icon' %}
                                    </a>
                                    <input data-ajax-cart-quantity-input="{{ forloop.index }}" value="{{ item.quantity }}" name="updates[]" id="updates_{{ forloop.index }}"/>
                                    <a data-ajax-cart-request-button class="plus underline-0 flex justify-center items-end" href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}">
                                        {% render 'plus-icon' %}
                                    </a>
                                </div>
                            </div>
                            <div class="remove-cart">
                                <a class="slide_cart_remove underline-0" data-ajax-cart-request-button href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity=0">REMOVE</a>
                            </div>
                        </div>   
                    </div>
                </div>
                <div data-ajax-cart-messages="{{ item.key }}"></div>
            </div>
        {% endfor %}
        {% else %}
            <div class="text-center">
                <p>There are no items here</p>
            </div>
        {% endif %}
        </div>
        <div class="slide-cart-footer mt-auto pt-25">
            <div class="flex justify-between subtotal-wrapper">
                <div class="subtotal">SUBTOTAL</div>
                <div class="subtotal-price">{{ cart.total_price | money }}</div>
            </div>
            <a href="/checkout" class="button w-full text-center view-cart">CHECKOUT</a>
            <p class="button w-full text-center checkout-button" >Continue Shopping</p>
        </div>
    </div>
</form>